* {
  background-color: #030303;
  color: #fff;
  font-family: "Waiting for the Sunrise", cursive, "Courier New", Courier,
    monospace;
  margin: 0;
}

/*LOGO*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  width: 50%;
}

/* NAV BAR*/
nav ul a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  margin: 0.1rem 0.1rem 1rem 1rem;
}

section {
  display: flex;
  margin-bottom: 0;
}
