@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030303;
  text-align: center;
  color: #fff;
  font-family: "Waiting for the Sunrise", cursive, "Courier New", Courier,
    monospace;
}
/* +---------LOGO START----------+ */
.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100vh;
  margin-top: 10px;
  padding: 0 10px;
}

/* +---------LOGO END----------+ */

/* --------------------------------- */

/* +---------NAV START----------+ */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(51, 172, 206);
}

.nav-bar li {
  font-size: 1.3rem;
  list-style: none;
  margin-left: 20px;
}

.nav-links {
  padding: 10px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* +---------NAV END----------+ */

/* --------------------------------- */

/* +---------HERO START----------+ */

.hero-container {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2.4rem;
  padding: 0;
  margin-top: 25px;
}

.hero h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 700;
}

.hero p {
  padding-bottom: 0;
  font-size: 25px;
}

span {
  color: rgb(61, 213, 233);
  text-decoration: underline;
}

.header-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.header-image {
  margin: 0 auto;
  padding: 0 20px;
  width: 850px;
  height: 400px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 1600px;
  justify-content: center;
  align-items: center;
}

.cards img {
  width: 100%;
  height: 300px;
  margin: 0 10px;
  padding: 10px 0;
}

.cards h2 {
  font-size: 3rem;
  font-weight: 700;
}

.cards p {
  line-height: 1.2;
  font-size: 19px;
}

.card-image a {
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 1250px) {
  .header-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .hero-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .header-image {
    display: none;
  }

  .logo-container {
    display: none;
  }

  .cards img {
    max-width: 100%;
    height: 50%;
  }

  .card-image a {
    font-size: 1rem;
    text-align: center;
  }
}

footer {
  font-size: 1.2rem;
  display: flex;
  padding: 0 10px;
  margin: 0 15px;
  justify-content: center;
}
