@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #030303;
  color: #fff;
  font-family: "Waiting for the Sunrise", cursive, "Courier New", Courier,
    monospace;
}

.logo {
  display: flex;
  max-width: 800px;
  margin: 24px auto;
  padding-bottom: 40px;
}

.nav-bar {
  margin: 10px 10px;
  padding: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

ul li {
  margin-left: 15px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 15px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(100, 100, 100, 0.829),
    0 0 0 2px rgb(253, 252, 252), 0.3em 0.3em 1em rgba(56, 47, 47, 0.3);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
  height: 600px;
  width: 1184px;
}

.cards {
  max-width: 100vh;
  margin: 100px auto;
  padding: 2px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.cards h2 {
  padding-left: 10px;
  padding-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 2rem;
}

.cards p {
  background-color: rgb(255, 250, 250, 0.8);
  font-size: 1.5rem;
  font-weight: 500;
  color: #030303;
  line-height: 1.2;
  margin-bottom: 2px auto;
  padding: 10px;
}

.cards a {
  display: flex;
  align-content: end;
  color: #1fcaae;
}

.cards a:hover {
  color: #70bdc0a8;
}

.cards img {
  /*  display: flex; */
  height: 100;
  max-width: 800px;
  background-position: center;
  background-size: cover;
}

.one {
  /* background-color: rgba(95, 95, 95, 0.822);
  border-radius: 10px; */
  /* background-image: url(./images/one.jpg); */
  /*   background-position: center; */
  /*  background-size: cover; */
}

.two {
  /*   background-color: rgba(95, 95, 95, 0.322);
  border-radius: 10px; */
  /*   background-size: contain; */
}

.three {
  /*   background-color: rgba(95, 95, 95, 0.162);
  border-radius: 10px; */
}

.footer {
  display: flex;
  align-items: center;
}
